p{
	color: blue;
}
*{
	background-color:black;
	color:white;
	font-size: large;
}
ol{
	float:right;
}
.column{
	border: 5px solid orange;
	padding: 6px;
	margin-bottom:3px;
	margin-top:3px;
	margin-left:3px;
	margin-right:3px;
	box-sizing:content-box;
	background-color:black;
	

}
img{
    margin: 1px;
    border: 1px white;
    padding: 1px;
    box-sizing:content-box;
}
